<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${LOG_FILE:-eop-sb.log}"/>
	<include resource="logback/console-appender.xml" />
	<include resource="logback/file-appender2.xml" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
