<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="org.eop.sb.accesscontrol.bean"/>
		<package name="org.eop.sb.commonbase.bean"/>
		<package name="org.eop.sb.staffarchive.bean"/>
		<package name="org.eop.sb.prodclass.bean"/>
		<package name="org.eop.sb.skilltrain.bean"/>
		<package name="org.eop.sb.statsreport.bean"/>
		<package name="org.eop.sb.example.bean"/>
	</typeAliases>
	
</configuration>