<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.eop.sb.example.mapper.ExampleMapper">
	<insert id="insertExample" parameterType="example">
		insert into tb_example(id,name,age,birthday)
		values(#{id},#{name},#{age},#{birthday});
	</insert>
	
	<select id="selectExample" parameterType="long" resultType="example">
		select * from tb_example where id = #{id};
	</select>
</mapper>