<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
<h3>Login with Username and Password</h3>
<form name='f' action='/eop-sb/login-process' method='POST'>
<table>
	<tr><td>User:</td><td><input type='text' name='username' value=''></td></tr>
	<tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
	<tr><td colspan='2'><input name="submit" type="submit" value="Login"/></td></tr>
</table>
<input th:name="${#request.getAttribute('org.springframework.security.web.csrf.CsrfToken').getParameterName()}" type="hidden" th:value="${#request.getAttribute('org.springframework.security.web.csrf.CsrfToken').getToken()}" />
</form>
</body>
</html>